  .quantitative-research {
    height: 1600px;
    background-color: #191919;
    padding-top: 110px;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .research-heading {
    animation: fadeIn 2s ease-in-out;
    height: 68px;
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 72px;
    letter-spacing: -0.03em;
    margin-left: 250px;
    margin-top: 0px;
    color: #FFFFFF;
    margin-bottom: 50px;
  }

  .research-description {
    width: 676px;
    height: 97px;
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
    margin-left: 250px;
    font-weight: 500;
    line-height: 47.48px;
    text-align: left;
    color: #FFFFFF;
    margin-top: 30px;
  }

  .observations {
    height: 68px;
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: -0.03em;
    margin-left: 250px;
    margin-top: 130px;
    color: #FFFFFF;
    margin-bottom: 50px;
  }

  .seventy-heading,
  .fifty-heading,
  .ninety-heading,
  .sixty-heading {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    font-size: 48px;
    font-weight: 600;
    line-height: 72px;
    letter-spacing: -0.03em;
    color: #188AEC;
  }

  .section-container {
    padding: 0 16rem;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 3rem;
  }

  .section-container >div {
    border: 1px solid #333333;
    border-radius: 10px;
    padding: 3rem 0;
  }

  .seventy-content,
  .fifty-content,
  .sixty-content,
  .ninety-content {
    display: flex;
    justify-content: center;
    padding: 0 7rem;
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
    font-weight: 500;
    line-height: 47.48px;
    color: #FFFFFF;
  }



  /* .fifty-section{
    margin-top:50px;
    margin-left: 1200px;
  }

  .seventy-section{
    margin-top: -200px;
    margin-left: 480px;
  }

  .sixty-section{
    margin-left: 250px;
  }

  .ninety-section{
    margin-left: 1100px;
    margin-top: -230px  
  } */

  @media (max-width: 768px) {
    .heading {
      font-size: 36px;
      line-height: 54px;
      margin-left: 0;
      margin-right: 0;
      text-align: center;
    }

    .description,
    .observations,
    .fifty-section,
    .seventy-section,
    .sixty-section,
    .ninety-section {
      margin-left: 0;
      margin-right: 0;
      text-align: center;
    }

    .fifty-section,
    .seventy-section,
    .sixty-section,
    .ninety-section {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }